<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPd1-dIWkacxB-2RZSMy6u-ZOLHa3934k</string>
	<key>GCM_SENDER_ID</key>
	<string>167803493001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esimatorapps.SmartEstimator</string>
	<key>PROJECT_ID</key>
	<string>smartestimator-828fc</string>
	<key>STORAGE_BUCKET</key>
	<string>smartestimator-828fc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167803493001:ios:808111a9507521b21b8458</string>
</dict>
</plist>